html {
    width: 100%;
    height: 100%;
}

.header {
    text-align: center;
}

.box1 {
    width: 300px;
    border: 55px solid blueviolet;
    margin: 20px auto;
}

.box2 {
    background-color: orangered;
    padding: 15%;
}

.bio {
    text-align: center;
    color: #ffffff;
}